-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: mizkevgarage176
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `customers`
--

DROP TABLE IF EXISTS `customers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `customers` (
  `id_customer` varchar(20) NOT NULL,
  `nama_customer` varchar(255) NOT NULL,
  `no_telp_customer` varchar(255) NOT NULL,
  `alamat_customer` varchar(255) NOT NULL,
  `email_customer` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_customer`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customers`
--

LOCK TABLES `customers` WRITE;
/*!40000 ALTER TABLE `customers` DISABLE KEYS */;
INSERT INTO `customers` VALUES ('C001','Panji','085790677021','Paingan City','panji@gmail.com','2025-12-15 23:14:10','2025-12-15 23:14:10'),('C002','mahen','082192838282','Paingan City','mahen@gmail.com','2025-12-16 03:02:19','2025-12-16 03:02:19');
/*!40000 ALTER TABLE `customers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `layanan`
--

DROP TABLE IF EXISTS `layanan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `layanan` (
  `id_layanan` varchar(20) NOT NULL,
  `nama_layanan` varchar(255) NOT NULL,
  `deskripsi_layanan` text NOT NULL,
  `lokasi_layanan` text NOT NULL,
  `harga_layanan` decimal(12,2) NOT NULL,
  `foto_layanan` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_layanan`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `layanan`
--

LOCK TABLES `layanan` WRITE;
/*!40000 ALTER TABLE `layanan` DISABLE KEYS */;
INSERT INTO `layanan` VALUES ('L001','Servis CVT','Servis CVT agar performa lebih mantap','Garage Paingan',150000.00,'1765865527_layanan_servis_cvt.jpg','2025-12-15 23:12:07','2025-12-15 23:26:17'),('L002','Ganti Kampas Rem Depan','Ganti Kampas Rem Depan Agar Pengereman Maksimal','Garage Paingan',55000.00,'1765866362_ganti_kampas.jpg','2025-12-15 23:26:02','2025-12-15 23:26:02'),('L003','Servis shockbreaker','Servis Shocbreaker','Garage Paingan',150000.00,'1765879186_service_shock.jpg','2025-12-16 02:59:46','2025-12-16 02:59:46');
/*!40000 ALTER TABLE `layanan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mechanics`
--

DROP TABLE IF EXISTS `mechanics`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `mechanics` (
  `id_mechanic` varchar(20) NOT NULL,
  `mechanic_name` varchar(255) NOT NULL,
  `mechanic_phone` varchar(255) NOT NULL,
  `mechanic_image` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_mechanic`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mechanics`
--

LOCK TABLES `mechanics` WRITE;
/*!40000 ALTER TABLE `mechanics` DISABLE KEYS */;
INSERT INTO `mechanics` VALUES ('MK001','Kevin','0812218398173','1765865602_foto_mekanik_baru.jpg','2025-12-15 23:13:22','2025-12-15 23:13:32'),('MK002','King James','0812218398173','1765879291_mekanik.jpg','2025-12-16 03:01:31','2025-12-16 03:01:31');
/*!40000 ALTER TABLE `mechanics` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `migrations` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) NOT NULL,
  `batch` int(11) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `motors`
--

DROP TABLE IF EXISTS `motors`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `motors` (
  `id_motor` varchar(20) NOT NULL,
  `no_plat_motor` varchar(255) NOT NULL,
  `merk_motor` varchar(255) NOT NULL,
  `warna_motor` varchar(255) NOT NULL,
  `tahun_motor` year(4) NOT NULL,
  `id_customer` varchar(20) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_motor`),
  KEY `motors_id_customer_foreign` (`id_customer`),
  CONSTRAINT `motors_id_customer_foreign` FOREIGN KEY (`id_customer`) REFERENCES `customers` (`id_customer`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `motors`
--

LOCK TABLES `motors` WRITE;
/*!40000 ALTER TABLE `motors` DISABLE KEYS */;
INSERT INTO `motors` VALUES ('M001','AG 7645 BI','Yamaha Jupiter MX 135','Merah Marun',2009,'C001','2025-12-15 23:14:36','2025-12-15 23:15:01'),('M002','AG 7645 GG','Aerox 155 CC','Ungu',2023,'C001','2025-12-16 00:54:58','2025-12-16 00:54:58'),('M003','R 4567 XI','Aerox 155 CC','Ungu',2022,'C002','2025-12-16 03:02:56','2025-12-16 03:02:56'),('M004','R 4567 NN','Vega R','Hitam',2006,'C002','2026-07-05 18:10:04','2026-07-05 18:10:04');
/*!40000 ALTER TABLE `motors` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `personal_access_tokens`
--

DROP TABLE IF EXISTS `personal_access_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `personal_access_tokens` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `tokenable_type` varchar(255) NOT NULL,
  `tokenable_id` bigint(20) unsigned NOT NULL,
  `name` varchar(255) NOT NULL,
  `token` varchar(64) NOT NULL,
  `abilities` text DEFAULT NULL,
  `last_used_at` timestamp NULL DEFAULT NULL,
  `expires_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `personal_access_tokens_token_unique` (`token`),
  KEY `personal_access_tokens_tokenable_type_tokenable_id_index` (`tokenable_type`,`tokenable_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `personal_access_tokens`
--

LOCK TABLES `personal_access_tokens` WRITE;
/*!40000 ALTER TABLE `personal_access_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `personal_access_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `servis`
--

DROP TABLE IF EXISTS `servis`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `servis` (
  `id_servis` varchar(20) NOT NULL,
  `keluhan` varchar(255) NOT NULL,
  `tanggal_servis` datetime NOT NULL,
  `status_servis` enum('Sedang Dikerjakan','Selesai') NOT NULL DEFAULT 'Sedang Dikerjakan',
  `id_motor` varchar(20) DEFAULT NULL,
  `id_mechanic` varchar(20) DEFAULT NULL,
  `id_staff` varchar(20) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_servis`),
  KEY `servis_id_motor_foreign` (`id_motor`),
  KEY `servis_id_mechanic_foreign` (`id_mechanic`),
  KEY `servis_id_staff_foreign` (`id_staff`),
  CONSTRAINT `servis_id_mechanic_foreign` FOREIGN KEY (`id_mechanic`) REFERENCES `mechanics` (`id_mechanic`) ON DELETE SET NULL,
  CONSTRAINT `servis_id_motor_foreign` FOREIGN KEY (`id_motor`) REFERENCES `motors` (`id_motor`) ON DELETE SET NULL,
  CONSTRAINT `servis_id_staff_foreign` FOREIGN KEY (`id_staff`) REFERENCES `staff` (`id_staff`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `servis`
--

LOCK TABLES `servis` WRITE;
/*!40000 ALTER TABLE `servis` DISABLE KEYS */;
/*!40000 ALTER TABLE `servis` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `spareparts`
--

DROP TABLE IF EXISTS `spareparts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `spareparts` (
  `id_sparepart` varchar(20) NOT NULL,
  `nama_sparepart` varchar(255) NOT NULL,
  `stok_sparepart` int(11) NOT NULL,
  `harga_sparepart` decimal(12,2) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_sparepart`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `spareparts`
--

LOCK TABLES `spareparts` WRITE;
/*!40000 ALTER TABLE `spareparts` DISABLE KEYS */;
INSERT INTO `spareparts` VALUES ('SPR001','Oli Shell',12,50000.00,'2025-12-15 23:16:31','2026-09-29 01:19:12'),('SPR002','Kampas Rem Depan',4,45000.00,'2025-12-15 23:16:50','2026-09-29 01:19:12'),('SPR003','Busi',18,25000.00,'2025-12-15 23:22:56','2026-09-29 01:19:12'),('SPR004','Rantai',7,50000.00,'2025-12-16 03:00:48','2026-09-29 01:19:12');
/*!40000 ALTER TABLE `spareparts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `staff`
--

DROP TABLE IF EXISTS `staff`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `staff` (
  `id_staff` varchar(20) NOT NULL,
  `nama_staff` varchar(255) NOT NULL,
  `no_telp_staff` varchar(255) NOT NULL,
  `foto_staff` varchar(255) NOT NULL,
  `username` varchar(255) NOT NULL,
  `password` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_staff`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `staff`
--

LOCK TABLES `staff` WRITE;
/*!40000 ALTER TABLE `staff` DISABLE KEYS */;
INSERT INTO `staff` VALUES ('ST001','Brian','081234567890','default.png','brian','$2y$12$MXJY6DPlt1hPQbV/C8/GJuPKh1Cy9ibSunY3IbNZz5fX1GhFsqW7W',NULL,NULL),('ST002','Mahen','081234567891','default.png','mahen','$2y$12$rsBOmO6fzHr9TPoCd3hIYO/DazZB8s2GTYRyGK69BeNIFuGd186DG',NULL,NULL);
/*!40000 ALTER TABLE `staff` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transaction`
--

DROP TABLE IF EXISTS `transaction`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `transaction` (
  `id_transaksi` varchar(20) NOT NULL,
  `no_nota` varchar(255) NOT NULL,
  `id_servis` varchar(20) NOT NULL,
  `id_layanan` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`id_layanan`)),
  `id_sparepart` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`id_sparepart`)),
  `jumlah_sparepart` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`jumlah_sparepart`)),
  `harga_layanan` decimal(12,2) NOT NULL DEFAULT 0.00,
  `harga_sparepart` decimal(12,2) DEFAULT NULL,
  `subtotal` decimal(10,2) NOT NULL DEFAULT 0.00,
  `tanggal_transaksi` date NOT NULL,
  `metode_pembayaran` enum('Cash','QRIS','Transfer','Pembayaran Online') NOT NULL,
  `status_pembayaran` enum('Lunas','Belum Lunas') NOT NULL DEFAULT 'Belum Lunas',
  `snap_token` varchar(255) DEFAULT NULL,
  `midtrans_order_id` varchar(255) DEFAULT NULL,
  `midtrans_payment_type` varchar(255) DEFAULT NULL,
  `midtrans_transaction_status` varchar(255) DEFAULT NULL,
  `payment_expired_at` timestamp NULL DEFAULT NULL,
  `detail_pembayaran` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_transaksi`),
  UNIQUE KEY `transaction_no_nota_unique` (`no_nota`),
  KEY `transaction_id_servis_foreign` (`id_servis`),
  CONSTRAINT `transaction_id_servis_foreign` FOREIGN KEY (`id_servis`) REFERENCES `servis` (`id_servis`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transaction`
--

LOCK TABLES `transaction` WRITE;
/*!40000 ALTER TABLE `transaction` DISABLE KEYS */;
/*!40000 ALTER TABLE `transaction` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-10-02 14:08:10
